@model UmlDiagrams.Domain.Model.Diagram
@{
    ViewBag.Title = "Diagram";
}

@section scripts
{
    <script type="text/javascript" src="../../Scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="../../Scripts/Home/diagram-item.js"></script>
}

<h2>Diagram</h2>


